.news{
    @include res('padding-top', 70px);
    @include res('padding-bottom', 60px);
    &__top{
        @include res('pa-bottom', 30px);
        &-body{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &-right{
            width: 100%;
            .news__title{
                @include res('margin-left', 20px);
            }
        }
        &-wrapper{
            border-top: solid #000;
            @include res('border-width', 1px);
            @include res('padding-left', 20px);
            @include res('margin-bottom', 30px);
        }
    }
    &__title{
        color: #000;
        @include res('font-size', 14px);
        line-height: 120%;
        @include res('letter-spacing', -0.14px);
        font-weight: 400;
        @include res('margin-bottom', 14px);
    }
    &__img{
        position: relative;
        @include res('width', 351px);
        overflow: hidden;
        img{
            width: 100%;
            transition: 300ms ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    &__subtitle{
        position: absolute;
        color: #FFF;
        @include res('font-size', 30px);
        line-height: 120%;
        @include res('letter-spacing', -0.3px);
        font-style: normal;
        font-weight: 700;
        @include res('top', 28px);
        @include res('left', 16px);
    }
    &__item{
        display: flex;
        align-items: flex-start;
        @include res('padding-top', 14px);
        &:not(:last-of-type){
            @include res('padding-bottom', 17px);
            border-bottom: solid #757575;
            @include res('border-width', 0.5px);
        }
    }
    &__date{
        color: #D02128;
        @include res('font-size', 12px);
        line-height: 120%;
        @include res('letter-spacing', -0.12px);
        font-style: normal;
        font-weight: 400;
        width: max-content;
        white-space: nowrap;
        @include res('margin-right', 10px);
    }
    &__desc{
        @include res('max-width', 423px);
        width: 100%;
        color: #000;
        @include res('font-size', 12px);
        line-height: 120%;
        @include res('letter-spacing', -0.12px);
        font-weight: 400;
    }
    &__link{
        color: #000;
        @include res('font-size', 14px);
        @include res('letter-spacing', -0.14px);
        line-height: 120%;
        font-style: normal;
        font-weight: 400;
    }
}
