mixin footer()
    footer.footer   
        .footer__top 
            .footer__top-body.container 
                .footer__left 
                    a(href="index.html").logo 
                        img(src="@img/logo.svg", alt="" draggable="false") 
                    .footer__medias 
                        a(href="https://whatsapp.com").footer__media 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="url(#paint0_linear_8_2805)"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3306 4.78136C12.254 3.70172 10.8175 3.10898 9.29032 3.10596C6.14214 3.10596 3.58064 5.66745 3.58064 8.81261C3.58064 9.81967 3.84375 10.7995 4.34274 11.6674L3.53226 14.6251L6.55947 13.8328C7.39415 14.2864 8.33165 14.5283 9.2873 14.5283H9.29032C12.4385 14.5283 15 11.9668 15 8.81866C15.003 7.29447 14.4103 5.861 13.3306 4.78136ZM9.29335 13.5636C8.44052 13.5636 7.60585 13.3338 6.87701 12.9013L6.70464 12.7985L4.90827 13.2703L5.38306 11.5223L5.27117 11.3439C4.79637 10.5878 4.54536 9.71684 4.54536 8.81866C4.54536 6.20273 6.67439 4.0737 9.29335 4.0737C10.5605 4.0737 11.752 4.56967 12.6472 5.46483C13.5423 6.36301 14.0353 7.55455 14.0353 8.82168C14.0353 11.4376 11.9062 13.5636 9.29335 13.5636ZM11.8942 10.0102C11.752 9.93761 11.0504 9.59285 10.9204 9.54749C10.7903 9.4991 10.6935 9.47491 10.5998 9.62007C10.506 9.76221 10.2308 10.0828 10.1492 10.1795C10.0645 10.2733 9.98286 10.2854 9.84072 10.2158C9.69859 10.1433 9.23891 9.99507 8.69456 9.50817C8.27117 9.13015 7.98387 8.6614 7.90222 8.51926C7.82056 8.37713 7.89314 8.2985 7.96572 8.22894C8.02923 8.16543 8.10786 8.06261 8.18044 7.97793C8.25302 7.89326 8.27419 7.8358 8.32258 7.73902C8.37097 7.64527 8.34677 7.56059 8.31048 7.48801C8.27419 7.41543 7.98992 6.71382 7.87197 6.42955C7.75706 6.15132 7.63911 6.18761 7.55141 6.18459C7.46976 6.18156 7.37298 6.17854 7.27923 6.17854C7.18548 6.17854 7.02822 6.21483 6.89818 6.35697C6.76814 6.4991 6.39919 6.84386 6.39919 7.54547C6.39919 8.24709 6.91028 8.9245 6.98286 9.02128C7.05544 9.11503 7.98992 10.5576 9.42036 11.1745C9.7621 11.3227 10.0252 11.4104 10.2339 11.4739C10.5756 11.5828 10.8871 11.5676 11.1321 11.5314C11.4073 11.489 11.9758 11.1866 12.0937 10.8539C12.2117 10.5213 12.2117 10.234 12.1784 10.1765C12.1331 10.1191 12.0363 10.0828 11.8942 10.0102Z" fill="white"/>
                                <defs>
                                <linearGradient id="paint0_linear_8_2805" x1="9.00114" y1="16.6944" x2="9.00114" y2="-1.30787" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#55B046"/>
                                <stop offset="1" stop-color="#83BF67"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            | Написать в WhatsApp
                        a(href="https://telegram.com").footer__media 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="url(#paint0_linear_8_2811)"/>
                                <path d="M6.09375 9.65919L7.16129 12.6138C7.16129 12.6138 7.29435 12.889 7.43649 12.889C7.57863 12.889 9.70464 10.6783 9.70464 10.6783L12.0696 6.11182L6.13004 8.8971L6.09375 9.65919Z" fill="#C2DBEB"/>
                                <path d="M7.50907 10.4185L7.30343 12.5959C7.30343 12.5959 7.21875 13.2642 7.88407 12.5959C8.55242 11.9275 9.19052 11.4134 9.19052 11.4134L7.50907 10.4185Z" fill="#9EC7D9"/>
                                <path d="M6.1119 9.76518L3.91634 9.04844C3.91634 9.04844 3.65323 8.9426 3.73791 8.70066C3.75605 8.65227 3.78932 8.60993 3.89517 8.53433C4.38206 8.19562 12.9042 5.13211 12.9042 5.13211C12.9042 5.13211 13.1462 5.05046 13.2883 5.10489C13.3518 5.12909 13.3942 5.1563 13.4304 5.25913C13.4425 5.29542 13.4516 5.37405 13.4486 5.45268C13.4486 5.51014 13.4395 5.56155 13.4365 5.6432C13.3851 6.4809 11.8307 12.7319 11.8307 12.7319C11.8307 12.7319 11.7369 13.0978 11.4042 13.1099C11.2833 13.116 11.1351 13.0888 10.9597 12.9376C10.3065 12.3751 8.04738 10.8569 7.54839 10.5242C7.52117 10.5061 7.5121 10.4819 7.50605 10.4577C7.5 10.4214 7.53629 10.3791 7.53629 10.3791C7.53629 10.3791 11.4677 6.88312 11.5736 6.51719C11.5827 6.48997 11.5524 6.47485 11.5101 6.48695C11.25 6.58372 6.71976 9.44159 6.22077 9.75913C6.19355 9.77727 6.1119 9.76518 6.1119 9.76518Z" fill="white"/>
                                <defs>
                                <linearGradient id="paint0_linear_8_2811" x1="9.00114" y1="18.0023" x2="9.00114" y2="0" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#0094D6"/>
                                <stop offset="1" stop-color="#00ACE0"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            | Написать в Телеграм
                        a(href="https://vk.com").footer__media 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9" cy="9" r="9" fill="#4185C4"/>
                            </svg>
                            | ВКонтакте
                        a(href="https://ok.ru").footer__media 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9" cy="9" r="9" fill="#F6A61B"/>
                            </svg>
                            | Одноклассники
                        a(href="https://yandex.ru").footer__media 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9" cy="9" r="9" fill="#333333"/>
                            </svg>
                            | Яндекс Дзен
                .footer__right 
                    .footer__right-top 
                        ul.footer__list 
                            p.footer__subtitle ЭТАЖНОСТЬ
                            li.footer__li 
                                a(href="#!").footer__link Одноэтажные дома
                            li.footer__li 
                                a(href="#!").footer__link Двухэтажные дома
                            li.footer__li 
                                a(href="#!").footer__link Трехэтажные дома 
                            li.footer__li 
                                a(href="#!").footer__link Дома с подвалом/цокольным этажом
                        ul.footer__list 
                            p.footer__subtitle КОЛИЧЕСТВО СПАЛЕН
                            li.footer__li 
                                a(href="#!").footer__link Дома с одной спальней
                            li.footer__li 
                                a(href="#!").footer__link Дома с двумя спальнями
                            li.footer__li 
                                a(href="#!").footer__link Дома с тремя спальнями
                            li.footer__li 
                                a(href="#!").footer__link Дома с четырьмя спальнями
                            li.footer__li 
                                a(href="#!").footer__link Дома с пятью спальнями
                            li.footer__li 
                                a(href="#!").footer__link Дома с шестью и более спальнями
                        ul.footer__list 
                            p.footer__subtitle КОНСТРУКЦИЯ
                            li.footer__li 
                                a(href="#!").footer__link Дома с мансардой
                            li.footer__li 
                                a(href="#!").footer__link Дома с террасой
                            li.footer__li 
                                a(href="#!").footer__link Дома с гаражом
                            li.footer__li 
                                a(href="#!").footer__link Дома без гаража
                            li.footer__li 
                                a(href="#!").footer__link Дома с баней/сауной
                            li.footer__li 
                                a(href="#!").footer__link Дома для узких участков
                            li.footer__li 
                                a(href="#!").footer__link Дом на две семьи
                            li.footer__li 
                                a(href="#!").footer__link Дом с плоской крышей
                        ul.footer__list 
                            p.footer__subtitle ПЛОЩАДЬ
                            li.footer__li 
                                a(href="#!").footer__link Дома до 140 м2
                            li.footer__li 
                                a(href="#!").footer__link Дома от 141 – до 200 м2
                            li.footer__li 
                                a(href="#!").footer__link Дома от 201 – до 300 м2
                            li.footer__li 
                                a(href="#!").footer__link Дома от 301 – до 400 м2
                            li.footer__li 
                                a(href="#!").footer__link Дома более 400 м2
                    .footer__right-bottom 
                        ul.footer__list 
                            p.footer__subtitle АРХИТЕКТУРНЫЙ СТИЛЬ
                            li.footer__li 
                                a(href="#!").footer__link Дома в стиле Хай-тек
                            li.footer__li 
                                a(href="#!").footer__link Дома в стиле БарнХаус
                            li.footer__li 
                                a(href="#!").footer__link Дома в стиле Райт
                            li.footer__li 
                                a(href="#!").footer__link Классические дома
                            li.footer__li 
                                a(href="#!").footer__link Современные дома
                        ul.footer__list 
                            p.footer__subtitle МАТЕРИАЛ
                            li.footer__li 
                                a(href="#!").footer__link Дома из газоблоков
                            li.footer__li 
                                a(href="#!").footer__link Дома из пеноблоков
                            li.footer__li 
                                a(href="#!").footer__link Дома из керамических блоков
                            li.footer__li 
                                a(href="#!").footer__link Дома из кирпича
        .footer__bottom 
            .footer__bottom-body.container 
                p.footer__desc © 2009-2023 Все права на содержание сайта vfstroy.ru принадлежат ООО "ВФ Строй". Полное или частичное воспроизведение возможно только по письменному разрешению правообладателя.
                .footer__links 
                    a(href="#!").footer__a Политика конфиденциальности 
                    a(href="#!").footer__a Согласие на обработку персональных данных