mixin footer()
    footer.footer   
        .footer__top 
            .footer__top-body.container 
                .footer__left 
                    a(href="index.html").logo 
                        img(src="@img/logo.svg", alt="" draggable="false") 
                    .footer__medias 
                        a(href="https://whatsapp.com").footer__media 
                            img(src="@img/whatsapp.svg", alt="" draggable="false")
                            | Написать в WhatsApp
                        a(href="https://telegram.com").footer__media 
                            img(src="@img/telegram.svg", alt="" draggable="false")
                            | Написать в Телеграм
                        a(href="https://vk.com").footer__media 
                            img(src="@img/vk.svg", alt="" draggable="false")
                            | ВКонтакте
                        a(href="https://ok.ru").footer__media 
                            img(src="@img/ok.svg", alt="" draggable="false")
                            | Одноклассники
                        a(href="https://yandex.ru").footer__media 
                            img(src="@img/zen.svg", alt="" draggable="false")
                            | Яндекс Дзен
                .footer__right 
                    .footer__right-top 
                        ul.footer__list 
                            p.footer__subtitle ЭТАЖНОСТЬ
                            li.footer__li 
                                a(href="#!").footer__link Одноэтажные дома
                            li.footer__li 
                                a(href="#!").footer__link Двухэтажные дома
                            li.footer__li 
                                a(href="#!").footer__link Трехэтажные дома 
                            li.footer__li 
                                a(href="#!").footer__link Дома с подвалом/цокольным этажом
                        ul.footer__list 
                            p.footer__subtitle КОЛИЧЕСТВО СПАЛЕН
                            li.footer__li 
                                a(href="#!").footer__link Дома с одной спальней
                            li.footer__li 
                                a(href="#!").footer__link Дома с двумя спальнями
                            li.footer__li 
                                a(href="#!").footer__link Дома с тремя спальнями
                            li.footer__li 
                                a(href="#!").footer__link Дома с четырьмя спальнями
                            li.footer__li 
                                a(href="#!").footer__link Дома с пятью спальнями
                            li.footer__li 
                                a(href="#!").footer__link Дома с шестью и более спальнями
                        ul.footer__list 
                            p.footer__subtitle КОНСТРУКЦИЯ
                            li.footer__li 
                                a(href="#!").footer__link Дома с мансардой
                            li.footer__li 
                                a(href="#!").footer__link Дома с террасой
                            li.footer__li 
                                a(href="#!").footer__link Дома с гаражом
                            li.footer__li 
                                a(href="#!").footer__link Дома без гаража
                            li.footer__li 
                                a(href="#!").footer__link Дома с баней/сауной
                            li.footer__li 
                                a(href="#!").footer__link Дома для узких участков
                            li.footer__li 
                                a(href="#!").footer__link Дом на две семьи
                            li.footer__li 
                                a(href="#!").footer__link Дом с плоской крышей
                        ul.footer__list 
                            p.footer__subtitle ПЛОЩАДЬ
                            li.footer__li 
                                a(href="#!").footer__link Дома до 140 м2
                            li.footer__li 
                                a(href="#!").footer__link Дома от 141 – до 200 м2
                            li.footer__li 
                                a(href="#!").footer__link Дома от 201 – до 300 м2
                            li.footer__li 
                                a(href="#!").footer__link Дома от 301 – до 400 м2
                            li.footer__li 
                                a(href="#!").footer__link Дома более 400 м2
                    .footer__right-bottom 
                        ul.footer__list 
                            p.footer__subtitle АРХИТЕКТУРНЫЙ СТИЛЬ
                            li.footer__li 
                                a(href="#!").footer__link Дома в стиле Хай-тек
                            li.footer__li 
                                a(href="#!").footer__link Дома в стиле БарнХаус
                            li.footer__li 
                                a(href="#!").footer__link Дома в стиле Райт
                            li.footer__li 
                                a(href="#!").footer__link Классические дома
                            li.footer__li 
                                a(href="#!").footer__link Современные дома
                        ul.footer__list 
                            p.footer__subtitle МАТЕРИАЛ
                            li.footer__li 
                                a(href="#!").footer__link Дома из газоблоков
                            li.footer__li 
                                a(href="#!").footer__link Дома из пеноблоков
                            li.footer__li 
                                a(href="#!").footer__link Дома из керамических блоков
                            li.footer__li 
                                a(href="#!").footer__link Дома из кирпича
        .footer__bottom 
            .footer__bottom-body.container 
                p.footer__desc © 2009-2023 Все права на содержание сайта vfstroy.ru принадлежат ООО "ВФ Строй". Полное или частичное воспроизведение возможно только по письменному разрешению правообладателя.
                .footer__links 
                    a(href="#!").footer__a Политика конфиденциальности 
                    a(href="#!").footer__a Согласие на обработку персональных данных