mixin news()
    .news 
        .news__top 
            .news__top-body.container 
                .news__top-left
                    h2.news__title Публикации
                    .news__img 
                        img(src="@img/news-img.png", alt="" draggable="false")
                        p.news__subtitle Новости
                .news__top-right
                    h2.news__title Новости
                    .news__top-wrapper 
                        .news__item 
                            p.news__date 17 июн
                            p.news__desc.disable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов ...
                            p.news__desc.enable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. 
                        .news__item 
                            p.news__date 17 июн
                            p.news__desc.disable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов ...
                            p.news__desc.enable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. 
                        .news__item 
                            p.news__date 17 июн
                            p.news__desc.disable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов ...
                            p.news__desc.enable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. 
                        .news__item 
                            p.news__date 17 июн
                            p.news__desc.disable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов ...
                            p.news__desc.enable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. 
                        .news__item 
                            p.news__date 17 июн
                            p.news__desc.disable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов ...
                            p.news__desc.enable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. 
                        .news__item 
                            p.news__date 17 июн
                            p.news__desc.disable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов ...
                            p.news__desc.enable-sm Компания «ПРАВИЛО» - многофункциональный центр малоэтажного домостроения. 
                    a(href="#!").news__link Смотреть все
        .news__bottom 
            .news__bottom-body.container 
                .news__bottom-left 
                    p.news__bottom-title Интересные статьи
                    .news__row
                        .news__info 
                            p.news__bottom-subtitle Заголовок
                            p.news__p Компания «ПРАВИЛО» многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов, но и сможете заказать строительство понравившегося проекта ... 
                        .news__image 
                            img(src="@img/news-img-1.png", alt="" draggable="false")
                    .news__row
                        .news__info 
                            p.news__bottom-subtitle Заголовок
                            p.news__p Компания «ПРАВИЛО» многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов, но и сможете заказать строительство понравившегося проекта ... 
                        .news__image 
                            img(src="@img/news-img-1.png", alt="" draggable="false")
                    a(href="#!").news__a Смотреть все
                .news__bottom-right 
                    p.news__bottom-title Вопросы ответы
                    .news__row
                        .news__info 
                            p.news__bottom-subtitle Заголовок
                            p.news__p Компания «ПРАВИЛО» многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты ...
                    .news__row
                        .news__info 
                            p.news__bottom-subtitle Заголовок
                            p.news__p Компания «ПРАВИЛО» многофункциональный центр малоэтажного домостроения. На сайте которого Вы найдете не только проекты домов, но и сможете заказать строительство понравившегося проекта ... 
                    a(href="#!").news__a Смотреть все
                    .news__wrapper 
                        a(href="#!").news__bottom-link 
                            <svg width="29" height="31" viewBox="0 0 29 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.8476 6.66108V6.32094C23.8476 5.67845 23.3185 5.14935 22.676 5.14935H21.8824C21.2399 5.14935 20.295 4.80921 19.8037 4.39348L15.0418 0.311795C14.5504 -0.103932 13.7568 -0.103932 13.2655 0.311795L8.46571 4.39348C7.9744 4.80921 7.02956 5.14935 6.38708 5.14935H5.59341C4.95093 5.14935 4.42182 5.67845 4.42182 6.32094V6.66108C4.42182 7.30357 4.00609 8.17281 3.51478 8.58854L0.907038 10.8561C0.415725 11.2719 0 12.1411 0 12.7836V29.8284C0 30.4709 0.529104 31 1.17159 31H27.06C27.7025 31 28.2316 30.4709 28.2316 29.8284V12.7836C28.2316 12.1411 27.8159 11.2719 27.3246 10.8561L24.7169 8.58854C24.2255 8.17281 23.8476 7.30357 23.8476 6.66108ZM7.59646 22.2319L2.60774 27.2207C2.15422 27.6742 1.77629 27.523 1.77629 26.8805V15.9582C1.77629 15.3158 2.15422 15.1646 2.60774 15.6181L7.59646 20.6068C8.04998 21.0226 8.04998 21.7406 7.59646 22.2319ZM11.2624 22.1941H16.9314C17.5739 22.1941 18.4809 22.5721 18.9345 23.0256L24.3767 28.4301C24.8302 28.8836 24.6791 29.2615 24.0366 29.2615H4.19506C3.55257 29.2615 3.4014 28.8836 3.85492 28.4301L9.25937 23.0256C9.71289 22.5721 10.6199 22.1941 11.2624 22.1941ZM26.4931 15.9205V26.8427C26.4931 27.4852 26.1152 27.6364 25.6617 27.1829L20.6352 22.2319C20.1817 21.7784 20.1817 21.0226 20.6352 20.569L25.6617 15.5803C26.1152 15.1268 26.4931 15.278 26.4931 15.9205ZM25.5483 13.1615L24.6791 14.0308C24.2255 14.4843 23.8476 14.3331 23.8476 13.6906V11.3475C23.8476 10.705 24.2633 10.516 24.7547 10.9317L25.5105 11.5742C26.0018 11.9899 26.0018 12.708 25.5483 13.1615ZM15.0418 2.76836L16.9692 4.39348C17.4605 4.80921 17.3472 5.14935 16.7047 5.14935H11.6404C10.9979 5.14935 10.8845 4.80921 11.3758 4.39348L13.3033 2.76836C13.719 2.35264 14.5504 2.35264 15.0418 2.76836ZM22.0713 8.09723V15.4669C22.0713 16.1094 21.6934 17.0165 21.2399 17.47L19.0856 19.6242C18.6321 20.0777 17.7251 20.4557 17.0826 20.4557H11.1868C10.5443 20.4557 9.6373 20.0777 9.18378 19.6242L7.06736 17.5078C6.61384 17.0543 6.2359 16.1472 6.2359 15.5047V8.09723C6.2359 7.45474 6.76501 6.92563 7.4075 6.92563H20.9375C21.5422 6.92563 22.0713 7.45474 22.0713 8.09723ZM3.59037 14.0686L2.72112 13.1993C2.2676 12.7458 2.30539 12.0277 2.79671 11.612L3.55257 10.9695C4.04389 10.5538 4.45961 10.7428 4.45961 11.3853V13.7284C4.42182 14.3709 4.04389 14.5221 3.59037 14.0686ZM18.8589 9.57117C18.8589 10.0625 18.3298 10.4404 17.6873 10.4404H11.2246C10.5821 10.4404 10.053 10.0625 10.053 9.57117C10.053 9.07985 10.5821 8.70192 11.2246 8.70192H17.6873C18.3298 8.66413 18.8589 9.07985 18.8589 9.57117ZM18.8589 13.086C18.8589 13.5773 18.3298 13.9552 17.6873 13.9552H11.2246C10.5821 13.9552 10.053 13.5773 10.053 13.086C10.053 12.5946 10.5821 12.2167 11.2246 12.2167H17.6873C18.3298 12.2167 18.8589 12.5946 18.8589 13.086ZM13.53 16.6385C13.53 17.1298 13.0009 17.5078 12.3584 17.5078H11.1868C10.5443 17.5078 10.0152 17.1298 10.0152 16.6385C10.0152 16.1472 10.5443 15.7693 11.1868 15.7693H12.3584C13.0009 15.7315 13.53 16.1472 13.53 16.6385Z" fill="black"/>
                            </svg> 
                            | Подпишитесь на рассылку
                        form(action="").news__form 
                            .news__form-row 
                                input(type="mail" placeholder="Ваш e-mail" required).news__input
                                button(type="submit").news__button Подписаться
                            p.news__txt При подписке вы принимаете условия #[a(href="#!") Пользовательского соглашения] и #[a(href="#!") Политики конфиденциальности]