// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: PTSans, sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
body{
    &.hidden{
        overflow-y: hidden;
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    @include res('max-width', 984px);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include media(576){
        @include resa('max-width', 398px);
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
